* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #eef3f8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.full-container {
    width: 100%;
}

.header {
    background: #1b73e8;
    color: white;
    padding: 40px 20px;
    text-align: center;
    width: 100%;
}

.header h1 {
    font-size: 32px;
    margin-bottom: 8px;
}

.header p {
    font-size: 18px;
}

.main-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    margin: 40px auto;
}

.card {
    background: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    color: #1b73e8;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.15);
    transition: 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}
.footer {
  text-align: center;
  padding: 20px;
  background: #1b73e8;
  color: white;
  margin-top: 40px;
  font-size: 14px;
}
